#content h1{
	font-size: 186px;
	color: red;
}
#body h2{
	font-size: 50px;
	font-family: Calibri;
}
#body h3{
	font-family: Calibri;
}
#block1 {
	height: 60px;
	width:60px;
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
	clear: both;
	background-color: red;
} 
#block2{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: red;
}
#block3{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: red;
}
#block4{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: red;
}
#roof1{
	height: 30px;
	width:30px;
	margin-left: 12px;
	margin-top: 12px;
	overflow: hidden;
	background-color: red;
	
}
#roof2{
	height: 15px;
	width:15px;
	margin-left: 6px;
	margin-top: 6px;
	overflow: hidden;
	background-color: red;
}
#roof3{
	height: 7px;
	width:7px;
	margin-left: 3px;
	margin-top: 3px;
	overflow: hidden;
	background-color: red;
}
#pyramidBase{
	height: 240px;
	width: 240px;
	margin-left: 150px;
	margin-top: -785px;
	overflow: hidden;
	background-color: green;
}
#pyramid1{
	height: 200px;
	width: 200px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: green;
}
#pyramid2{
	height: 160px;
	width:160px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: green;
}
#pyramid3{
	height: 120px;
	width:120px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: green;
}
#pyramid4{
	height: 80px;
	width:80px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: green;
}
#pyramid5{
	height: 40px;
	width:40px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: green;
}
#pyramid6{
	height: 20px;
	width:20px;
	margin-top: 10px;
	margin-left: 10px;
	overflow: hidden;
	background-color: green;
}
#CurveBase{
	height: 100px;
	width: 100px;
	margin-top: -10px;
	margin-left: 480px;
	overflow: hidden;
	background-color: 00FF00;
}
#Curve1{
	width: 90px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve2{
	width: 80px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve3{
	width: 70px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve4{
	width: 60px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve5{
	width: 50px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve6{
	width: 40px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve7{
	width: 30px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve8{
	width: 20px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#Curve9{
	width: 10px;
	height: 100px;
	margin-left: 10px;
	background-color: 00FF00;
}
#CurveBaseB{
	width: 100px;
	height: 100px;
	margin-left: 480px;
	margin-top: -330px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve1B{
	width: 95px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve2B{
	width: 90px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve3B{
	width:85px;
	height: 100px;
	margin-left: 5px;
	width:85px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve4B{
	width:80px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve5B{
	width:75px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve6B{
	width:70px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
	}
#Curve7B{
	width:65px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve8B{
	width:60px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve9B{
	width:55px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve10B{
	width:50px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve11B{
	width:45px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve12B{
	width:40px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve13B{
	width:35px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve14B{
	width:30px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve15B{
	width:25px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve16B{
	width:20px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve17B{
	width:15px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve18B{
	width:10px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#Curve19B{
	width:5px;
	height: 100px;
	margin-left: 5px;
	overflow: hidden;
	background-color: FF6600;
}
#firstRoad{
	height: 760px;
	width: 86px;
	margin-left: 62px;
	margin-top: -300px;
}
#secondRoad{
	height: 760px;
	width: 86px;
	margin-left: 240px;
	margin-top: -300px;
}
#SemiPyrBase{
	height: 100px;
	width: 100px;
	margin-left: 480px;
	margin-top: 15px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr1{
	height: 100px;
	width: 90px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr2{
	height: 100px;
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr3{
	height: 100px;
	width: 70px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr4{
	height: 100px;
	width: 60px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr5{
	height: 100px;
	width: 50px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr6{
	height: 100px;
	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr7{
	height: 100px;
	width: 30px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr8{
	height: 100px;
	width: 20px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#SemiPyr9{
	height: 100px;
	width: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: yellow;
	overflow: hidden;
}
#pyramidBaseB{
	height: 240px;
	width: 240px;
	margin-left: 150px;
	margin-top: 40px;
	overflow: hidden;
	background-color: 66FF00;
}
#pyramid1B{
	height: 200px;
	width: 200px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: 66FF00;
}
#pyramid2B{
	height: 160px;
	width:160px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: 66FF00;
}
#pyramid3B{
	height: 120px;
	width:120px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: 66FF00;
}
#pyramid4B{
	height: 80px;
	width:80px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: 66FF00;
}
#pyramid5B{
	height: 40px;
	width:40px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	background-color: 66FF00;
}
#pyramid6B{
	height: 20px;
	width:20px;
	margin-top: 10px;
	margin-left: 10px;
	overflow: hidden;
	background-color: 66FF00;
}
#block5Base{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	margin-top: -195px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block5{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block6Base{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	margin-top: 15px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block6{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block7Base{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	margin-top: -280px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block7{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block8Base{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	margin-top: 20px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block8{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block9Base{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	margin-top: 20px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block9{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: purple;
}
#block10Base{
	height: 60px;
	width: 60px;
	margin-left: 480px;
	margin-top: -350px;
	overflow: hidden;
	clear: both;
	background-color: 0033FF;
}
#block10{
	height: 60px;
	width: 60px;
	margin-left: 0px;
	overflow: hidden;
	clear: both;
	background-color: 0033FF;
}
#block11Base{
	height: 60px;
	width: 60px;
	margin-left: 540px;
	margin-top: -60px;
	overflow: hidden;
	clear: both;
	background-color: 0033FF;
}
#pyramidBaseC{
	height: 240px;
	width: 240px;
	margin-left: 150px;
	margin-top: 60px;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid1C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid2C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid3C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid4C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid5C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid6C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid7C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid8C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid9C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid10C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid11C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#pyramid12C{
	height: 95%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: YellowGreen;
}
#body{
	float: left;
	height: 1200px;
	width: 100%
	overflow:hidden;
	clear: both;
}

#html{
	float: left;
	height: 1200px;
	width: 100%;
}
#spacer {
	height: 20px;
	width: 0px;
}
